<html>
  <head>
    <title>Zeta Psi Tau Theta</title>
  </head>
  <body>
    <h1>Hi, <%=@email%></h1>
    <h3>This email is your ticket into the banquet, please bring this with you when you arrive at the front table.</h3>
    <h3>Thank you for puchasing, and we hope you have an amazing time at the <strong>Zeta Psi Tau Theta 11th Annual Banquet!</strong></h3>
    <h3>Cheers!</h3>
    <h3>Your Banquet Committee</h3>
  </body>
</html>
